<div id="container">
  <h1>Wähle deine Pizza</h1>
  <ion-radio-group value="Margherita" [(ngModel)]="order.pizza">
    <ion-radio value="Margherita" >Margherita</ion-radio><br />
    <ion-radio value="Salami">Salami</ion-radio><br />
    <ion-radio value="Prosciutto">Prosciutto</ion-radio><br />
    <ion-radio value="Funghi">Funghi</ion-radio>
  </ion-radio-group>
<p></p>

  <ion-button (click)="berechnePreis()">Speichern</ion-button>

  <p>Deine Auswahl ist: {{order.pizza}}</p>
  <p>Preis: {{order.preis}} </p>
  <ion-button (click)="getCurrentPosition(); createData()">Bestellen</ion-button>
  <ion-list>
    <ion-item>
      {{order.latitude}},{{order.longitude}}
    </ion-item>
  </ion-list>

</div>


